# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore OS or editor-specific files
.DS_Store
.vscode/

# Ignore logs
*.log

# Ignore test results
coverage/

# Ignore build output
bin/
obj/
